{% extends "base.html" %}

{% block title %}RULpe | URL Shortener!! {% endblock %}

{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to RULpe!</h1>
        <div class="control-group">
            <p>The URL shortener website designed for you.</p>
        </div>
        <div class="control-group">
            <form class="form-horizontal" name="input" action="/shortener/" method="post">
                {% csrf_token %}
                <input class="input-xlarge search-query" type="text" placeholder="Insert URL" name ="long_url">
                <button class="btn btn-primary btn-large" type="submit" class="btn">Short URL</button>
            </form>
        </div>
      </div>

    <div>
        <table class="table table-striped" id="table">
            <thread>
                <tr align="right">
                    <th align="left">Long URL</th>
                    <th align="right">CREATED</th>
                    <th align="right">Short URL</th>
                    <th align="right">Clicks</th>
                </tr>
            </thread>
            <tbody>
                {% for page in Pages %}
                <tr align="right">
                    <td align="left">{{page.long_url}}</td>
                    <td align="right">{{page.creation_time}}</td>
                    <td align="right">{{page.short_url}}</td>
                    <td align="right">{{page.clicks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}