<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Table without borders</title>
<style type="text/css">
* {
    margin: 0;
    padding: 0;
    overflow: auto;
}
#tabla {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #444;
    background-color: #ffc;
}
.celda_dcha {
    width: 200px;
    border: 1px solid #444;
    background-color: #cfc;
}
</style>
</head>

<body>
<form name="input" action="shortener" method="get">
Insert URL: <input type="text" name="the_url">
<input type="submit" value="Shorten URL">
</form>



<table id="tabla2">
    {% for page in Pages %}
    <tr align="right">
        <td align="left">{{page.long_url}}</td>
        <td align="right">{{page.creation_time}}</td>
        <td align="right"> {{page.short_url}} <td>
        <td align="right"> {{page.clicks}} <td>
    </tr>
    {% endfor %}
</table>


</body>



</html>